@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your other CSS rules */

.card-image-container {
  position: relative;
  overflow: hidden; /* Ensure the container hides overflowing content */
}

.card-image-scroll {
  transition: transform 1s ease-in-out;
}

.card-image-container:hover .card-image-scroll {
  transform: translateY(-65%);
}

/* Your other CSS rules */

  